[submodule "symengine"]
	path = symengine
	url = https://github.com/bjodah/symengine
        branch = cooperative_intrusive
[submodule "symengine.py"]
	path = symengine.py
	url = https://github.com/symengine/symengine.py
